<div class="menu-item" id="dashboard">
    <a href="dashboard.html" class="nav-link "><span class="pcoded-micon"><i class="fas fa-home"
                style="color: #000000; width:30px;height:30px;"></i></span><span
            class="menu-options">Dashboard</span></a>
</div>
<div class="menu-item" id="dongphi">
    <a href="dongphi.html" class="nav-link "><span class="pcoded-micon"><i class="fas fa-chart-bar"
                style="color: #000000;width:30px;height:30px;"></i></span><span class="menu-options">Đóng phí</span></a>
</div>
<div class="menu-item" id="tbDongphi">
    <a href="tbDongphi.html" class="nav-link "><span class="pcoded-micon"><i class="fas fa-file-excel"
                style="color: #000000; width: 30px; height: 30px;"></i></span><span class="menu-options">Xem thông báo đóng phí</span></a>
</div>
<div class="menu-item" id="lsThanhtoan">
    <a href="lsThanhtoan.html" class="nav-link "><span class="pcoded-micon"><i class="fas fa-user-cog"
                style="color: #000000; width:30px;height:30px;"></i></span><span class="menu-options">Lịch sử thanh toán</span></a>
</div>
<div class="menu-item" id="DKtamTruVang">
    <a href="DKtamTruVang.html" class="nav-link "><span class="pcoded-micon"><i class="fas fa-money-bill-wave"
                style="color: #000000; width:30px;height:30px;"></i></span><span class="menu-options">Khai báo tạm trú/ tạm vắng</span></a>
</div>
<div class="menu-item" id="phananh">
    <a href="phananh.html" class="nav-link "><span class="pcoded-micon"><i class="fas fa-bell"
                style="color: #000000; width:30px;height:30px;"></i></span><span class="menu-options">Phản ánh</span></a>
</div>
<div class="menu-item-logout" style="padding-top:50px;">
    <a href="index.html" class="nav-link "><span class="pcoded-micon"><i class="fas fa-sign-out-alt"
                style="color: red; width:30px;height:30px;"></i></span><span class="menu-options-logout"
            style="color:red;">Đăng xuất</span></a>
</div>